{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">

<section id="skills" class="skills-section">

<div class="container">

<h2 class="text-center skill-title">⚡ My Technical Skills</h2>

<div class="skills-card">

<span>🐍 Python</span>
<div class="progress mb-3">
<div class="progress-bar bg-success" style="width: 90%">90%</div>
</div>

<span>🌐 Django</span>
<div class="progress mb-3">
<div class="progress-bar bg-info" style="width: 85%">85%</div>
</div>

<span>📄 HTML</span>
<div class="progress mb-3">
<div class="progress-bar bg-success" style="width: 90%">90%</div>
</div>

<span>🎨 CSS</span>
<div class="progress mb-3">
<div class="progress-bar bg-success" style="width: 90%">90%</div>
</div>

<span>⚡ JavaScript</span>
<div class="progress mb-3">
<div class="progress-bar bg-info" style="width: 60%">60%</div>
</div>

<span>🧰 Bootstrap</span>
<div class="progress mb-3">
<div class="progress-bar bg-info" style="width: 80%">80%</div>
</div>

<span>🔧 Git</span>
<div class="progress mb-3">
<div class="progress-bar bg-warning" style="width: 70%">70%</div>
</div>

<span>📊 Kaggle</span>
<div class="progress mb-3">
<div class="progress-bar bg-warning" style="width: 67%">67%</div>
</div>

<span>🤖 TensorFlow</span>
<div class="progress mb-3">
<div class="progress-bar bg-warning" style="width: 72%">72%</div>
</div>

<span>🧬 CNN</span>
<div class="progress mb-3">
<div class="progress-bar bg-warning" style="width: 70%">70%</div>
</div>

<span>📷 OpenCV</span>
<div class="progress mb-3">
<div class="progress-bar bg-warning" style="width: 70%">70%</div>
</div>

<span>🧠 Machine Learning</span>
<div class="progress">
<div class="progress-bar bg-info" style="width: 80%">80%</div>
</div>

</div>

</div>

</section>

{% endblock %}